*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 32px;
    color: #CC99FE;

    border: none;
    background: url(https://steamuserimages-a.akamaihd.net/ugc/1013814773810546845/83B0439703299AE4ECA5CA1A4A65490D50234ADD/) no-repeat;
    background-size: cover;
}
header{
    margin: 30px 0px;
}
.header-text{
    font-size: 26px;
    display: flex;
    justify-content: center;
}
.form{
    width: 50%;
    margin:40px;
    border-radius: 12px;
    background-color:rgba(128, 0, 128, 0.3);
}
.form-class{
    margin: 32px;
}
.form-input{
    width:100%;
    height: 2.5rem;
    font-size: 18px;
    background: transparent;
    border:none;
    border-bottom: 1px solid rgba(255, 202, 202, 0.842);
    padding: 0 0 0 5px;
}
input, select{
    color:rgba(255, 202, 202, 0.842);
}
.text, .input-label{
    font-size: 32px;
    color: #CC99FE;
}
.form-dropdown{
    width:100%;
    height: 2rem;
    margin:10px 0 0 0;

    font-size: 18px;
    border:none;
    border-bottom: 1px solid rgba(255, 202, 202, 0.842);
    background: transparent;
}
.input-radio, .input-checkbox{
    margin-right: 10px;
}
.label-radio, label{
    display: flex;
    align-items: center;

    margin: 8px 0;
    font-size: 18px;
    color:rgba(255, 202, 202, 0.842);
}
.input-textarea{
    min-height: 120px;
    width:100%;
    padding:7px;

    font-size: 18px;
    color:rgba(255, 202, 202, 0.842);
    border: 1px solid rgba(255, 202, 202, 0.473);
    background: transparent;
}
.form-button{
    display: block;
    margin: auto;
    background-color: #FDEAA8;
    border-radius: 4px;
    padding: 8px 32px;
}